@font-face { 
    font-family: hk-grotesk; src: url('../hk-grotesk/HKGrotesk-Medium.otf'); 
  } 

body, html{
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}
  
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
height: 100%;
width: 100%;
}

a {
    text-decoration: none;
   }
   
   li {
    list-style: none;
   }

h1{
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    color: #234B6E;
    text-align: center;
    letter-spacing: 0.5vw;
}  

img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
  .item_description {
    width:100%;
  }
  .image_1 {
    height:0;
    padding-bottom:40%;
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
    position:relative;
    width:40%;
  }
  .desc, .image_1 {
    float:right;
    display:block
  }
  .desc {
    width:60%;
    text-align:left;
    font-size: 1em;
    padding-left:200px;
    padding-top: 200px;
    font-family: hk-grotesk;
  }
  @media (max-width:600px) {
    .desc, .image_1 {
      float:none;
      width:100%;
      /* padding-top: 20px; */
      padding: 100px;
      padding-top: 30px;
    }
  }
  
s
  
  .image_2 {
    height:0;
    padding-bottom:40%;
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
    position:relative;
    width:40%;
  }
  .desc, .image_2 {
    float:left;
    display:block;
  }
  
  @media (max-width:600px) {
    .desc, .image_2 {
      float:none;
      width:100%;
    }
  }
/* 
.about{
    margin: 0 auto;
	clear: both;
    display: flex;
}
#about_p{
    vertical-align:middle;
    font-family: hk-grotesk;
    line-height: 2vw;
    margin: 100 100;
}


#right-image > img{
	display: block;
} */


.pink-text{
  color: #F68D9B;
}

.pink-text a{
  color: #F68D9B;
}

.pink-text a:hover{
  color: #234B6E;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #234B6E;
  z-index: 1000;
  }
  .nav-links a {
  color: #234B6E;
  font-family: hk-grotesk;
  z-index: 1000;
  }

  .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 1000;
  }

  .menu li {
  padding: 5px 14px;
  z-index: 1000;
  }
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
  } 
  /*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 30px;
  user-select: none;
  }
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    top: 10%;
    right: 0;
    left: 0;
    text-align: center;
  }
  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 5px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
  }
  @media (max-height: 740px) {
    .problem{
      font-family: hk-grotesk;
      line-height: 6vw;
      margin: 50 50;
    }
  }

@media (min-height: 741px) and (max-height: 999px) {

}

@media (min-width: 1000px) and (max-height: 850px) {

}



@media (min-height: 1000px) {

}

#donate-button a:hover {
  transition: 0.3s ease;
  color: #F68D9B !important;
} 


.donate {
  display: flex;
  float: right;
  gap: 1em;
  font-size: 18px;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  }

  .donate a{
  color:#234B6E;
  font-family: hk-grotesk;
  }

.donate li {
  padding: 10px 25px;
  z-index: 1000;
  background-color: #F68D9B;
  border-radius: 50px;
  }

.donate :hover{
  color: #F68D9B;
  transition: 0.3s ease;
  z-index: 1000;
} 

.donate li:hover {
  background-color: #234B6E;
  color:#F68D9B;
  }


#pdf{
  font-family: hk-grotesk;
  text-align: center;
}

#pdf a{
  color: #F68D9B;
}

.problem{
  font-family: hk-grotesk;
  line-height: 2vw;
  margin: 100 200;
}

@media (max-height: 740px) {
  .problem{
    font-family: hk-grotesk;
    line-height: 6vw;
    margin: 50 50;
  }
}

@media (min-height: 741px) and (max-height: 999px) {
.problem{
  font-family: hk-grotesk;
  line-height: 6vw;
  margin: 50 50;
}
}

@media (min-width: 1000px) and (max-height: 850px) {
.problem{
  font-family: hk-grotesk;
  line-height: 2vw;
  margin: 50 50;
}
}

@media (min-height: 1000px) {
.problem{
  font-family: hk-grotesk;
  line-height: 2vw;
  margin: 50 50;
  }
}